*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  background-color: #D6D0FF;
  color: #2e1b47; 
  font-family: Arial, sans-serif;
}

body {
  width: 480px;
  margin: 0 auto;
}
