*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  background-color: #D6D0FF;
  color: #2e1b47; 
  font-family: Arial, sans-serif;
}

body {
  width: 480px;
  margin: 0 auto;
}

.intro {
  padding: 1.3rem 1rem;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  background-color: rebeccapurple;
  color: #ffffff;
}
